default: &default
  adapter: mysql2
  encoding: utf8mb4
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: root
  password: <%= ENV['AWS_DB_PW'] %>
  host: <%= ENV['AWS_DB_ENDPOINT'] %>

development:
  <<: *default
  database: raisetech_live8_sample_app_development

test:
  <<: *default
  database: raisetech_live8_sample_app_test

production:
  <<: *default
  database: raisetech_live8_sample_app_production
  username: <%= Rails.application.credentials.dig(:db, :username) %>
  password: <%= Rails.application.credentials.dig(:db, :password) %>
  host: <%= Rails.application.credentials.dig(:db, :host) %>