# -----------------------------------------------
# Nginx設定ファイル

# 1.基本設定:
# ログ、接続数、ファイル送信などの基本動作を最適化。

# 2.Puma連携:
# Nginxをリバースプロキシとして機能させ、Pumaサーバーと接続。

# 3.キャッシュやエラーページ:
# 静的ファイルのキャッシュとカスタムエラーページの指定。

# 4.開発環境向け設定:
# ALBホスト名やUnixソケット経由の接続を想定。
# -----------------------------------------------

user nginx;
worker_processes auto;
error_log /var/log/nginx/error.log;
pid /run/nginx.pid;

include /usr/share/nginx/modules/*.conf;

events {
    worker_connections 1024;
}

http {
    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  /var/log/nginx/access.log  main;

    sendfile            on;
    tcp_nopush          on;
    tcp_nodelay         on;
    keepalive_timeout   65;
    types_hash_max_size 4096;
    server_names_hash_bucket_size 128;

    include             /etc/nginx/mime.types;
    default_type        application/octet-stream;

    include /etc/nginx/conf.d/*.conf;

    upstream puma {
        server unix://{{app_dir}}/tmp/sockets/puma.sock;
    }
    server {
        listen       80 default_server;
        listen       [::]:80 default_server;
        server_name  "{{aws_alb_host}}";
        root         {{app_dir}}/public;

        location / {
            try_files $uri $uri/index.html $uri.html @puma;
        }

        location @puma {
            #proxy_read_timeout 300;
            #proxy_connect_timeout 300;
            proxy_redirect off;
            proxy_set_header X-Forwarded-Proto $scheme;
            proxy_set_header Host $http_host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_pass http://puma;
        }

        error_page 404 /404.html;
            location = /40x.html {
        }

        error_page 500 502 503 504 /50x.html;
            location = /50x.html {
        }
    }
}