#-------------------------------------------------------
# testとlocal環境でローカルディスクをストレージとして使用し
# amazon環境ではAmazon S3をストレージサービスとして使用する設定
# それぞれのストレージの保存場所や設定が指定
#-------------------------------------------------------

test:
  service: Disk
  root: <%= Rails.root.join("tmp/storage") %>

local:
  service: Disk
  root: <%= Rails.root.join("storage") %>

amazon:
 service: S3
 region: ap-northeast-1
 bucket: {{aws_s3_bucket}}